<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Listar Viagens - Crazy Trips</title>
    <link rel="stylesheet" href="css/ListarTodos.css">
    <link href="https://fonts.googleapis.com/css2?family=Impact&display=swap" rel="stylesheet">
    <script defer src="js/ListarTodos.js"></script>
</head>
<body>
<div class="carrossel">
    <div class="slide slide4"></div>
    <div class="slide slide5"></div>
    <div class="slide slide7"></div>
</div>

<header>
    <h1>CRAZY TRIPS</h1>
</header>


<main>
    <div class="botoes">
        <button onclick="location.href='index.html'">Voltar</button>
    </div>



    <section class="box">
        <h2>Lista de Viagens</h2>
        <table id="viagem">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Data de Nascimento</th>
                <th>CEP</th>
                <th>Origem</th>
                <th>Destino</th>
                <th>Partida</th>
                <th>Chegada</th>
                <th>Preço</th>
                <th>Tipo</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody id="viagens">
            </tbody>
        </table>
    </section>
</main>
</body>
</html>
