* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../imagens/imagem2.jpg');
    background-size: cover;
    min-height: 100vh;
}

header {
    background: #f5f5f5;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
header h1 {
    font-family: 'Impact', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 64px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 3px 3px #A0A0A0, 5px 5px #CCCCCC;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 50px;
    margin-bottom: 30px;
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#edit-form {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
}

.box {
    background: rgba(240, 240, 255, 0.7);
    padding: 20px 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 300px;
}


.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 8px;
}
.checkbox-group label {
    font-size: 18px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-group input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #3b0066;
    cursor: pointer;
}


label {
    font-size: 12px;
    color: #555;
}
input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.botoes {
    display: flex;
    gap: 20px;
}

button {
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.salvar-btn, .voltar-btn {
    padding: 12px 80px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    width: 150%;
    max-width: 300px;
    margin-top: 10px;
}
.salvar-btn {
    background-color: #3b0066;
    color: white;
}
.salvar-btn:hover {
    background-color: #BCB6FF;
}

.voltar-btn {
    background-color: #EA2B1F;
    color: white;
}

.voltar-btn:hover {
    background-color: #EDAE49;
}
